.App {
  text-align: left;
}
.RightSection{
  float:right;
  width: 48%;
}
.LeftSection{
  width: 48%;
  float:left;
}
.Item.Completed{
  border-color:green;
}
.Item.NonComplete{
  border-color: red;
}
.Item.Task{
  border-color: blueviolet;
}
.Item{
  
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  margin: 4px;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
